@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    radial-gradient(circle at top left,
      rgba(255,255,255,0.04),
      transparent 35%),

    radial-gradient(circle at bottom right,
      rgba(255,255,255,0.03),
      transparent 35%);

  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background-image:
    linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);

  background-size: 48px 48px;

  mask-image: radial-gradient(circle, black 55%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, black 55%, transparent 100%);

  z-index: -1;
}